<h1>Latest news!</h1>

<div class="row">
    <div class="col-sm-6">
        <div class="card" id="currentArticle">
            <div class="card-header">
                Featured article
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ article.title }} </h4>
                <p class="card-text">{{ article.annotation }}</p>
            </div>
            <div class="card-footer text-muted">
                Published at: {{ article.published_at }}
            </div>
        </div>
    </div>
</div>
