<h1>Add some custom article!</h1>

<div class="row">
    <div class="col-md-6">
        <div id="customArticle">
            <div v-if="message" class="alert alert-success" role="alert">
                {{ message }}
            </div>
            <form novalidate>
                <div class="form-group">
                    <label for="inputTitle">Title</label>
                    <input v-model="article.title" type="text" class="form-control" :class="{ 'is-invalid': errorMessage('title') }" id="inputTitle" aria-describedby="titleHelp" placeholder="Enter title">
                    <div class="invalid-feedback">
                        {{ errorMessage('title') }}
                    </div>
                    <small id="titleHelp" class="form-text text-muted">Must be between 10 and 20 characters</small>
                </div>
                <div class="form-group">
                    <label for="inputAnnotation">Annotation</label>
                    <textarea v-model="article.annotation" rows="4" type="textarea" class="form-control" :class="{ 'is-invalid': errorMessage('annotation') }" id="inputAnnotation" aria-describedby="annotationHelp" placeholder="Enter annotation"></textarea>
                    <div class="invalid-feedback">
                        {{ errorMessage('annotation') }}
                    </div>
                    <small id="annotationHelp" class="form-text text-muted">Must be between 30 and 100 characters</small>
                </div>
                <div class="form-row">
                    <label>Show till</label>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputYear">Year</label>
                        <input v-model="article.year" type="text" class="form-control" :class="{ 'is-invalid': errorMessage('show_till') }" id="inputYear">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputMonth">Month</label>
                        <input v-model="article.month" type="text" class="form-control" :class="{ 'is-invalid': errorMessage('show_till') }" id="inputMonth">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputDay">Day</label>
                        <input v-model="article.day" type="text" class="form-control" :class="{ 'is-invalid': errorMessage('show_till') }" id="inputDay">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputHour">Hour</label>
                        <input v-model="article.hour" type="text" class="form-control" :class="{ 'is-invalid': errorMessage('show_till') }" id="inputHour">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputMinute">Minute</label>
                        <input v-model="article.minute" type="text" class="form-control" :class="{ 'is-invalid': errorMessage('show_till') }" id="inputMinute">
                    </div>
                    <div class="form-group">
                        <input class="form-control" :class="{ 'is-invalid': errorMessage('show_till') }" id="showTill" hidden>
                        <div class="invalid-feedback">
                            {{ errorMessage('show_till') }}
                        </div>
                        <small id="annotationHelp" class="form-text text-muted">Show till should be greater than current time</small>
                    </div>
                </div>

                <span v-on:click="submit" class="btn btn-primary">Update article!</span>
            </form>
        </div>
    </div>
</div>
