<!DOCTYPE html>
<html>
  <head>
    <title>OddNewsletter Admin</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'admin' %>
    <%= stylesheet_pack_tag 'bootstrap' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
